<%= link_to("Go Back Home", "/products") %>
<h1>Your Future Parts</h1>
    
<% @carted_products.each do |carted_product| %>
    <div>
        <h3><%= carted_product.product.name %></h3>
        <%= image_tag(carted_product.product.image_url, id: "picture")%>
        <p><%= carted_product.product.price %></p>
        <p><%= carted_product.amount %></p>
        <%= link_to("Remove From Cart", "/carted_products/#{carted_product.id}", method: :put) %>
    </div>
<% end %>

    

        

    <%= link_to("Checkout", "/orders", method: :post) %>
