<h1>Did you mess up?</h1>


<% if @product.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prevented this Product from being saved:</h2>
      <ul> 
        <% @product.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= form_tag("/products/#{@product.id}", method: :put) do %>



<%= label_tag(:category_id, "Select Your Categories") %>
<br>
<%= select_tag(:category_ids, options_from_collection_for_select(@categories, :id, :name, @product.category_ids), multiple: true, id: "select-tag") %>
<label for="name">Change Item Name:</label>
<br>
<input type="string" id="name" name="name" value="<%= @product.name %>">
<br>
<label for="price">How Much:</label>
<br>
<input type="integer" name="price" value="<%= @product.price %>">
<br>
<label for="image">Change Picture:</label>
<br>
<input type="string" name="image_url" value="<%=@product.image_url %>">
<br>
<label for="description">Edit Item Description:</label>
<br>
<textarea type="text" id ="description" name="description" cols = "60" rows = "20" style="resize: none"> <%=@product.description%></textarea>
<br>
<input type="submit" value="Solidify Changes">

<% end %>

<%=link_to("Eh, nevermind", "/products") %>

<script type="text/javascript">
  var tagSelectOptions = document.querySelectorAll('#select-tag option')

  for(var i = 0; i < tagSelectOptions.length; i++) {
    tagSelectOptions[i].addEventListener("mousedown", function(e) {
      e.preventDefault();
      var option = e.target;
      if (option.selected) {
        option.selected = false;
      } else {
        option.selected = true;
      }
    })
  }
</script>