<h1>Did you mess up?</h1>

<%= form_tag("/products/#{@product.id}", method: :put) do %>

<label for="name">Change Item Name:</label>
<br>
<input type="string" id="name" name="name" value="<%= @product.name %>">
<br>
<label for="price">How Much:</label>
<br>
<input type="integer" name="price" value="<%= @product.price %>">
<br>
<label for="image">Change Picture:</label>
<br>
<input type="string" name="image_url" value="<%=@product.image_url %>">
<br>
<label for="description">Edit Item Description:</label>
<br>
<textarea type="text" id ="description" name="description" cols = "60" rows = "20" style="resize: none"> <%=@product.description%></textarea>
<br>
<input type="submit" value="Solidify Changes">

<% end %>

<%=link_to("Eh, nevermind", "/products") %>