<h1>Add a New Item</h1>

<%= form_tag("/products", method: :post) do %>
<% if @product.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prevented this Product from being saved:</h2>
      <ul> 
        <% @product.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= label_tag(:category_ids, "Select Your Categories") %>
<br>
<%= select_tag(:category_ids, options_from_collection_for_select(@categories, :id, :name), multiple: true, id: "select-tag") %>
<label for="name">Enter Product Name:</label>
<br>
<input type="text" id ="name" name="name" value="<%= @product.name %>" placeholder="Product Name">
<br>
<label for="price">How Much:</label>
<br>
<input type="number" name="price" value="<%= @product.price %>" placeholder="Name Your Price">
<br>
<label for="image">Add a Picture</label>
<br>
<input type="text" name="image_url" value="<%= @product.image_url %>"placeholder="Don't Forget a Picture!">
<br>
<label for="description">Put Description:</label>
<br>
<textarea type="text" id ="description" name="description" placeholder="Product Information" cols = "60" rows = "20" style="resize: none"><%= @product.description %></textarea>
<br>
<input type="submit" value="Submit">

<% end %>

<%= link_to("Forget about it", "/products") %>


<script type="text/javascript">
  var tagSelectOptions = document.querySelectorAll('#select-tag option')

  for(var i = 0; i < tagSelectOptions.length; i++) {
    tagSelectOptions[i].addEventListener("mousedown", function(e) {
      e.preventDefault();
      var option = e.target;
      if (option.selected) {
        option.selected = false;
      } else {
        option.selected = true;
      }
    })
  }
</script>





<!-- 
<%= text_field_tag(:name)%>
<%= number_field_tag(:price)%>
<%= text_area_tag(:description, "", placeholder: "Enter Text Here") %>
<%= text_field_tag(:image_url) %>  interpelate is converting to string concatanate is adding to a string
command shift F to find in any file command shift R to hard refresh page
-->