<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Creepster|Special+Elite" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("See What's Inside", "/carted_products") %>
    <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, id: key %>
    <% end %>
    <%= yield %>
  </body>
</html>
